*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}
header{
    background-color: navy;
    height: 220px;
}
.header-top{
    background-color:lightblue ;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    border: 1px solid black;
    width: 100px;
    background-color: goldenrod;
    text-align: left;

}
.menu{
    border: 1px solid black;
    width: 250px;
    background-color: goldenrod;
    text-align: center;
}
.login{
    border: 1px solid black;
    width: 100px;
    background-color: goldenrod;
    text-align: right;

}
.show{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 190px;
}
.violet{
    background-color: violet;
    height: 140px;
    width: 350px;
}
.containerflex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.step{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}
.steptwo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    background-color: lightgrey;
}
.img{
    background-color: rgb(50, 97, 200);
    height: 200px;
    width: 250px;
}
.text{
    background-color: pink;
    height: 200px;
    width: 200px;
}
.stepfour{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    height: 400px;
}
.green{
    background-color: green;
    width: 450px;
    height: 350px;
}
.footer-flex{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height:430px;
    
}
.final-step{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 450px;
    height: 250px;
    margin-bottom: 30px;
}
.red{
    background-color: red;
    width: 150px;
    height: 300px;
    border: 1px solid grey;
}
.green-footer{
    background-color: rgb(7, 112, 77);
    width: 75px;
    height: 300px;
    border: 1px solid grey;
}
.line{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 1px;
    background-color: lightgray;
    width: calc(100%);
}
.finale{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(60, 223, 169);
    width: 450px;
    height: 30px;
}
.logo-finale{
    border: 1px groove lightgray;
}
